.signup-com {
  width: 100vw;
  height: 100vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1,
p {
  text-align: center;
}
small {
  color: red;
}
form {
  background-color: #465362;
  border-radius: 10px;
  padding-top: 30px;
  padding-bottom: 15px;
}

.form-grp {
  margin: 0;
}
.signup-div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.signup-btn {
  background-color: var(--accent);
  color: white;
  width: 40%;
  font-size: large;
  padding: 5px 10px 5px 10px;
  border: 0;
  font-size: large;
  border-radius: 10px;
}
.signup-btn:hover {
  transform: scale(0.95);
}

.login-link {
  color: white;
}
.login-link:hover {
  color: gold;
}
