@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@700&display=swap");

.signup-com {
  width: 100vw;
  height: 100vh;
  background-image: url("https://cdn.wallpapersafari.com/71/35/QXftxG.jpg");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1,
p {
  text-align: center;
}
.signup-logo{
  font-family: "Kalam", cursive;
  font-size: 3.2rem !important;

}
small {
  color: red;
}
form {
  border-radius: 10px;
  /* background-color: rgba(30, 185, 225, 0); */
  padding-top: 30px;
  padding-bottom: 15px;
}

.form-grp {
  margin: 0;
}
.signup-div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.signup-btn {
  background-color: var(--accent);
  color: white;
  width: 40%;
  font-size: large;
  padding: 5px 10px 5px 10px;
  border: 0;
  border-radius: 10px;
}
.signup-btn:hover {
  transform: scale(0.95);

}

.login-link1 {
  color: var(--accent);
  margin-top: 10px;
  font-weight: 550;
}
.login-link{
  text-decoration: none;
}
.login-link:hover {
  color:brown;
  text-decoration: underline;

}
