.signup-com {
  width: 100vw;
  height: 100vh;
  background-color: rgb(227, 244, 244);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
form h2 {
  text-align: center;
}
small {
  color: red;
}
form {
  display: flex;
  background-color: white;
  flex-direction: column;
  padding: 20px;
  border-radius: 10px;
}
.signup-btn {
  margin-top: 10px;
}
