.admin-content {
  width: 100%;
}
.rest-comp {
  margin-left: 2rem;
  margin-right: 2rem;
}

.admin-bar {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}
.admin-btns {
  display: flex;
  align-items: center;
  width: fit-content;
  background-color: var(--primary);
  margin-bottom: 20px;
}
.admin-btn {
  margin: 10px;
  color: var(--accent);
  font-size: large;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
  background-color: var(--primary);
}
.admin-btn:hover {
  color: var(--accent);
  transform: scale(0.95);
}
.admin-btns .active {
  font-size: larger;
  border-bottom: 3px solid var(--accent);
  border-bottom-left-radius: 0;
}
