.questions-comp {
  height: calc(100vh - 70px);
  padding: 20px;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-bar {
  width: 60%;
  height: 3rem;
  text-align: center;
  font-size: large;
  border: 2px solid black;
  border-radius: 15px;
  padding: 10px;
  outline: none;
}
.search-btn {
  width: 150px;
  background-color: var(--accent);
  color: white;
  padding: 5px 10px 5px 10px;
  border: 0;
  height: 3rem;
  margin-left: 10px;
  font-size: large;
  border-radius: 15px;
}
.questions-content {
  display: flex;
  padding-top: 20px;
  justify-content: space-between;
}

.questions {
  width: 100%;
  height: calc(100vh - 205px);

  scroll-behavior: smooth;
  overflow: scroll;
}

.option-icon {
  width: 27px;
  height: 27px;
}
.dropdown-item {
  cursor: pointer;
}
.add-ques {
  padding-left: 20px;
  padding-top: 20px;
  height: fit-content;
}
