.search {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}
.search-bar {
  width: 60%;
  height: 3rem;
  text-align: center;
  font-size: large;
  border: 2px solid black;
  border-radius: 15px;
  padding: 10px;
  outline: none;
}
.search-btn {
  width: 150px;
  background-color: #002a6e;
  color: white;
  padding: 5px 10px 5px 10px;
  border: 0;
  height: 3rem;
  margin-left: 10px;
  font-size: large;
  border-radius: 15px;
}

.questions-comp {
  margin: 20px;
}
.questions {
  padding: 20px;
}
.question {
  display: flex;
  justify-content: space-between;
}
.question-link {
  display: block;
  color: black;
  font-size: x-large;
  text-decoration: none;
}
.question-link:hover {
  transform: scale(1.01);
}
.questions-content {
  display: flex;
  justify-content: space-around;
}

.option-icon {
  width: 27px;
  height: 27px;
}
.dropdown-item {
  cursor: pointer;
}
.add-ques {
  padding: 20px;
}
