.btn-main {
  display: flex;
  justify-content: center;
}
.update-btn {
  margin-left: 5px;
  margin-right: 5px;
}
.delete-btn {
  background-color: var(--accent);
  color: white;
  width: 100%;
  font-size: large;
  padding: 5px 10px 5px 10px;
  border: 0;
  font-size: large;
  border-radius: 10px;
}
.delete-btn:hover {
  transform: scale(0.95);
}
#citytable {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 40vw;
}

#citytable td,
#citytable th {
  border: 1px solid #ddd;
  padding: 8px;
}

#cittyable tr:nth-child(even) {
  background-color: #f2f2f2;
}

#citytable tr:hover {
  background-color: #ddd;
}

#citytable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: var(--secondary);
  color: white;
}
.city-div {
  display: flex;
  justify-content: center;
}
.city-form {
  margin-right: 5rem;
}
.city-det,
.city-op {
  text-align: center;
}
.file-div{
  display: flex;
  /* justify-content: center; */
}
.city-form form{
  background-image: linear-gradient(to left, var(--secondary),  #005c99);
border-radius: 10px;
padding-top: 30px;
padding-bottom: 15px;

}
