.answer-comp {
  background-color: white;
  margin-bottom: 10px;
  padding: 10px;
  width: 500px;
}

.material-symbols-rounded {
  font-variation-settings: "FILL" 1, "wght" 600, "GRAD" 0, "opsz" 48;
}

.i-count {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.show-comments {
  display: none;
}
.icons {
  display: flex;
  justify-content: space-evenly;
}
.icon {
  height: 25px;
  width: 25px;
}
.icon:hover {
  cursor: pointer;
}
