.answer-comp {
  background-color: white;
  margin-bottom: 10px;
  padding: 10px;
  width: 600px;
}

.answer-option {
  display: flex;
  justify-content: space-between;
}

.i-count {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.show-comments {
  display: none;
}
.answer-react-icons {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
}
.answer-react-icon {
  font-size: 1.6rem;
}
.answer-react-icon:hover {
  cursor: pointer;
}
.answer-text {
  word-wrap: break-word;
}
