@import url("../../index.css");

.Sidebar {
  height: calc(100vh - 70px);
  /* background-color: #465362; */
  background-color: #3c91e6;
}

.SidebarList {
  height: auto;
  padding: 0;
}

.SidebarList .row {
  list-style-type: none;
  padding: 10px;
  margin: 0%;
  display: flex;
  flex-direction: row;
  color: white;
  font-weight: 500;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
}
.row:hover {
  /* transform: scale(0.9); */
}
.active {
  background-color: #8eb69b;
  font-size: large;
}
.sidebar-title{
  display: none;
}
.icon-btn:hover{
  background-color: #8eb69b;
  box-shadow: none;
}
