@import url("../../index.css");

.Sidebar {
  height: 100vh;
  width: 250px;
  background-color: #465362;
}

.SidebarList {
  height: auto;
  padding: 0;
  width: 100%;
}

.SidebarList .row {
  width: 100%;
  height: 60px;
  list-style-type: none;
  margin: 0%;
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
}
.row:hover {
  transform: scale(0.9);
}
.active {
  background-color: var(--accent);
}
