@import url("../../index.css");

.Sidebar {
  height: calc(100vh - 70px);
  background-color: var(--secondary);
}

.SidebarList {
  padding: 0;
}

.SidebarList .row {
  list-style-type: none;
  margin: 0%;
  padding: 2px 25px 2px 10px;
  margin: 0px 0px 15px 15px;

  display: flex;
  flex-direction: row;
  color: white;
  font-weight: 500;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
}

.active {
  background-color: #ffffff;
  border-top-left-radius: 70px;
  border-bottom-left-radius: 70px;
  font-size: large;
}
.sidebar-title {
  display: none;
}
.sidebar-icon {
  color: var(--lightaccent);
}
