#attrtable {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 40vw;
}

#attrtable td,
#attrtable th {
  border: 1px solid #ddd;
  padding: 8px;
}

#attrtable tr:nth-child(even) {
  background-color: #f2f2f2;
}

#attrtable tr:hover {
  background-color: #ddd;
}

#attrtable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #465362;
  color: white;
}
.attr-div {
  display: flex;
  justify-content: center;
}
.attr-form {
  margin-right: 5rem;
}
.attr-det,
.attr-op {
  text-align: center;
}
.attr-form form{
  width: 700px;
}
.form-row{
  display: flex;
}
.idbtn {
  padding:20px;
}