@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

.tagline {
  margin-top: 30px;
  color: var(--accent);
  font-family: "Bebas Neue", cursive;
}
.ease1 {
  margin: 10px 30px;
}
.each-slide > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 650px;
}

.each-slide span {
  padding: 10px;
  font-size: 20px;
  background: #efefef;
  text-align: center;
}
.city-desc {
  text-align: center;
  font-size: 20px;
}
.react-slideshow-container + ul.indicators li {
  width: 40px;
}
.react-slideshow-container + ul.indicators .each-slideshow-indicator:before {
  margin-top: -10px;
  width: 15px;
  height: 15px;
}
