.card {
  height: 400px;
  width: 300px;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 10px;
  transition: transform 100ms;
}
.card:hover {
  box-shadow: 0 0 3px black;
  box-shadow: 20px 20px 20px 3px rgb(0 0 0 / 3%);
  -webkit-transform: translateY(-4px);
  transform: translateY(-8px);
}

.card-image img {
  width: 299px;
  height: 149px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  transition: all 0.35s ease-in-out;
}

.card-title,
description {
  text-align: left;
  margin: 0;
  margin-left: 8px;
  padding: 10px;
}

.card-title {
  font-weight: bold;
  font-size: 14px;
  color: blue;
}

.description {
  font-size: 12px;
}

.home-cards {
  width: 100%;
  text-align: center;
}

.home-cards > .card {
  display: inline-block;
}

.attr-heading,
.attr-tagline {
  margin-top: 15px;
}
.attr-tagline {
  color: brown;
}
