.bus-form{
    display: flex;
    justify-content: center;
}
.img-form .form-control{
    width: auto;
    margin-right: 0.7rem;
}
.img-form{
    display: flex;
}
.file-upload{
    width: 70%;
}

.bus-form form{
    border-radius: 10px;
    padding-top: 30px;
    padding-bottom: 15px;
    background-image: linear-gradient(to right, var(--secondary),  #005c99);
    
    }