.metro-form{
    display: flex;
    justify-content: center; 
}
.metro-form form{
  border-radius: 10px;
  padding-top: 30px;
  padding-bottom: 15px;
  background-image: linear-gradient(to right, var(--secondary),  #005c99);
  
  }
 