@import url("../../index.css");

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  color: white;
  background-color: var(--accent);
}
.logo-drop {
  display: flex;
  align-items: center;
}
.logo {
  font-size: xx-large;
  margin-left: 30px;
  margin-right: 10px;
}

select {
  height: 30px;
  border-radius: 20px;
  background-color: whitesmoke;
  width: 160px;
  margin-left: 10px;
  border: 0px;
  outline: 0px;
}

.links {
  display: flex;
  align-items: center;
  font-size: larger;
}

.nav-link {
  color: white;
}
.nav-link:hover {
  color: gold;
}

.username {
  margin-right: 30px;
  position: relative;
  display: inline-block;
}

.logout-content {
  display: none;
  position: absolute;
  background-color: #c0e0de;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border: 1px solid black;
  border-radius: 5px;
}
.username:hover .logout-content {
  display: block;
}
.logout-btn {
  color: black;
  padding: 5px;
  background-color: #c0e0de;
  border-radius: 5px;
}
