@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@700&display=swap");

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  color: white;
  background-color: var(--accent);
  background-color: #3c91e6;
  background-image: linear-gradient(to right, var(--secondary), var(--accent));
}
.logo-drop {
  display: flex;
  align-items: center;
}
.logo {
  font-size: 2.5rem;
  margin-left: 25px;
  font-family: "Kalam", cursive;
}
.last {
  display: flex;
  align-items: center;
}
.city-select {
  display: flex;
  cursor: pointer;
}

.links {
  display: flex;
  align-items: center;
  font-size: larger;
  margin-right: 5px;
}

.nav-link {
  color: white;
  cursor: pointer;
  padding: 0 20px;
}
.nav-link:hover {
  color: var(--secondary);
}

.username {
  margin-right: 20px;
}
.user-details {
  display: flex;
  flex-direction: row;
  color: var(--accent);
  text-transform: capitalize;
  justify-content: center;
  align-items: center;
  font-size: larger;
  margin-bottom: 10px;
  font-weight: 570;
}
