@import url("../../index.css");

.login-comp {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}
form {
  color: white;
  background-color: #465362;
  width: 400px;
}
form small {
  color: red;
}
h1,
p {
  text-align: center;
}
.form-group {
  margin: 30px;
}
.login-div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-btn {
  background-color: var(--accent);
  color: white;
  width: 40%;
  font-size: large;
  padding: 5px 10px 5px 10px;
  border: 0;
  font-size: large;
  border-radius: 10px;
}
.login-btn:hover {
  transform: scale(0.95);
}
p {
  margin-top: 15px;
}
.signup-link {
  color: white;

  text-decoration: none;
}
.signup-link:hover {
  color: gold;
  text-decoration: underline;
}
