
.form1 {
    display: flex;
    margin-top: 300px;
    max-height: 40%;
    margin: auto;
    margin-top: 9%;
    width: 400px;
    align-items: center;
    justify-content: center;
    padding: 50px;
    border-radius: 12px;
    line-height: 25px;
    background-color:aquamarine;
  }
  small {
    color: red;
  }
  form{
      padding-top: 30px;
      background-color: aquamarine;
      display: flex;
      flex-direction: column;
      
  }

  .username{
      padding-bottom: 15px;
  }
  .log{
      padding-left: 22%;
  }
  .city{
    padding-left: 9%;
  }
  .to{
      padding-left: 38%;
  }

  .button{
      margin-top: 20px;
      margin-left: 30%;
      width: 40%;
      background-color: black;
      color: azure;
  }