@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@700&display=swap");

.login-comp {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("https://cdn.wallpapersafari.com/71/35/QXftxG.jpg");

}
form {
  color: white;
  /* background-color: rgba(30, 185, 225, 0); */
  width: 400px;
}
.login-logo{
  font-family: "Kalam", cursive;
  font-size: 3.2rem !important;
}
form small {
  color: red;
}
h1,
p {
  text-align: center;
}
.form-group {
  margin: 30px;
}
.login-div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-btn {
  background-color: var(--accent);
  color: white;
  width: 40%;
  font-size: large;
  padding: 5px 10px 5px 10px;
  border: 0;
  font-size: large;
  border-radius: 10px;
}
.login-btn:hover {
  transform: scale(0.95);
}
.signup-link{
  text-decoration: none;
}
.signup-link1 {
  color: black;
  margin-top: 15px;
  text-decoration: none;

}
.signup-link:hover {
  color:brown;
  text-decoration: underline;
}
.signup-link-div{
  margin-top: 100px;
}