.question {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.question-link {
  width: 100%;
  padding: 5px 10px;
  display: block;
  color: black;
  font-size: x-large;
  text-decoration: none;
}
.question-link:hover {
  transform: scale(1.01);
  color: var(--secondary);
}
