#resttable {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 40vw;
}

#resttable td,
#resttable th {
  border: 1px solid #ddd;
  padding: 8px;
}

#resttable tr:nth-child(even) {
  background-color: #f2f2f2;
}

#resttable tr:hover {
  background-color: #ddd;
}

#resttable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: var(--secondary);
  color: white;
}
.rest-div {
  display: flex;
  justify-content: center;
}
.res-form {
  margin-right: 5rem;
}
.rest-det,
.rest-op {
  text-align: center;
}
.attr-form form{
  background-image: linear-gradient(to right, var(--secondary),  #005c99);
border-radius: 10px;
padding-top: 30px;
padding-bottom: 15px;

}
