#resttable {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #resttable td, #resttable th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #resttable tr:nth-child(even){background-color: #f2f2f2;}
  
  #resttable tr:hover {background-color: #ddd;}
  
  #resttable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color:#465362;
    color: white;
  }