@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  --primary: #f2f4f3;
  --secondary: #3c91e6;
  --accent: #161b33;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
